<div class="container">
  <div class="row">
    <div class="col-md-4 py-0 d-flex justify-content-center text-center">
      <h4 style="padding-top: 20px; font-weight: 300; color: white; line-height: 30px;">Hey! Tired of your housemate taking ages to pick a movie? Pizza getting cold? Danny DeVeto to the rescue - the random movie picker with an evil twist.</h4>
    </div>
    <div class="col-md-4 d-flex justify-content-center text-center">
      <%= image_tag("https://res.cloudinary.com/djnfnwxgu/image/upload/v1599685816/deveto/danny_shadow_kaywyg.png", :alt => "DannyDeveto", :class => "imagelanding") %>
    </div>
    <div class="col-md-4 d-flex justify-content-center text-center">
      <div id="randomize" data-movies="<%= @movies.to_json %>" style="color: white; height: 70px;">
        <h1>Danny's Choice</h1>
        <i class="fas fa-arrow-down fa-3x"></i>
      </div>
    </div>

    <div class="col-md-4 pt-4 d-flex justify-content-center text-center">
        <div id="randomize" data-movies="<%= @movies_all %>">
        <button type="button" id="randomize-button" class="btn btn-default btn-lg mt-4">RANDOM MOVIE</button>
        <% if user_signed_in? %>
          <%= link_to "My Households", households_path, class: "btn btn-default btn-lg m-2" %>
        <% else %>
          <h4 style="padding: 20px; font-weight: 300; color: white; line-height: 30px;">Sign up for exclusive access to <strong>Evil DeVeto,</strong>
          Krazy DeVeto, add your household, collect points for
        watching terrible movies and play <strong>Vetos</strong> against your housemates movie choices!</h4>
        <%= link_to "Sign up", new_user_registration_path, class:"btn btn-default btn-lg"  %>
        <% end %>
    </div>
  </div>
</div>
