<div class="container">
  <br>
  <!-- TODO _ MUST FIX TICKET-->
  <h3 style="color: white"><strong><%= @movie.title %></strong></h3>
  <!-- RUNTIME not always seeded - not reliable -->
  <%= @movie.runtime %>
  <%= image_tag @movie.image %>
  <br>
  <!-- TODO ADD MATH TO NEW DEF ON OTHER PAGE TO CREATE SCORE RULES AND ADD TO POINTS IF THEY CLICK 'WATCH' AND NOBODY VETOS -->
  <h3 style="color: lightgrey"><%= "This film will earn you #{10 - @movie.rating.to_i} imbd points" %></h3>
  <br>
  <!-- TIMER IS BELOW - see timer.js -->
  <div class="waiting-veto">
    <h2>Will They Use Their Veto Powers!?</h2>
    <div id="veto-timer" style="font-size: 36px;">30</div>
  </div>
  <div class="d-none" id="watch-btn">
    <%= simple_form_for [@household, @household_movie ] do |f| %>
    <%= f.input :movie_id, as: :hidden %>
    <%= f.button :submit, "No Vetos! Watch now on Netflix", class: "btn btn-large btn-primary"%>
   <% end %>
  </div>
<!-- go to controller do method to give points: 10 - rating -->
<!-- update points in leaderboard -->
  <br>
</div>

