<div class="container">
  <br>
  <!-- TODO _ MUST FIX TICKET-->
  <h3 style="color: white"><strong><%= @movie.title %></strong></h3>
  <!-- RUNTIME not always seeded - not reliable -->
  <%= @movie.runtime %>
  <%= image_tag @movie.image %>
  <br>
  <!-- TODO ADD MATH TO NEW DEF ON OTHER PAGE TO CREATE SCORE RULES AND ADD TO POINTS IF THEY CLICK 'WATCH' AND NOBODY VETOS -->
  <h3 style="color: lightgrey"><%= "This film will earn you #{10 - @movie.rating.to_i} imbd points" %></h3>
  <br>
  <!-- TODO 30 second timer, Javascript? -->

  <%= simple_form_for [@household, @household_movie ] do |f| %>
  <%= f.input :movie_id, as: :hidden %>
  <%= f.button :submit, "Watch now on Netflix", class: "btn btn-large btn-primary" %>
 <% end %>


<!-- go to controller do method to give points: 10 - rating -->
<!-- update points in leaderboard -->
  <br>
</div>

