<div class="container household-random-pick" data-household-id="<%= @household.id %>" data-current-user-id="<%= current_user.id %>" data-startgame-url="<%= start_game_household_url(@household) %>">
  <div class="row">
    <div class="col-md-12 py-4 d-flex justify-content-center text-center" id="card-movie" style="color:black;">
      <div class="card">
        <img class="card-img-top" src="<%= @movie.image %>" alt="<%= @movie.title %>">
        <div class="card-body">
          <h3 class="card-title"><%= @movie.title %></h3>
          <p class="card-text">Runtime: <%= @movie.runtime %></p>
          <!-- TIMER IS BELOW -->
          <div class="waiting-veto">
          <!-- ADD TIMER AMOUNT BELOW -->
          <div id="veto-timer" style="font-size: 6rem; color: black;">30</div>
          <h3>Will Someone Veto!?</h3>
        </div>
        <div class="d-none" id="watch-btn">
          <%= simple_form_for [@household, @household_movie ] do |f| %>
          <%= f.input :movie_id, as: :hidden %>
          <%= f.button :submit, "Watch on Netflix", class: "btn-vetto btn-large btn-primary"%>
         <% end %>
        </div>
          <h3><%= "This film scored #{@movie.rating}/10 on iMDb and will earn you #{10 - @movie.rating.to_i} points" %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
