<div class="show-household" style="text-align: center">
  <p><%= @household.name %> : Household Leaderboard</p>
  <p><%= current_user.name %></p>
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Points</th>
      <th scope="col">Vetos</th>
    </tr>
  </thead>
  <tbody>
    <% @household.user_households.each do |user_household| %>
      <tr>
        <th scope="row">#</th>
        <td><%= user_household.user.name %></td>
        <td><%= user_household.total_points %></td>
        <td><%= user_household.vetos_remaining %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div id="ready-to-play-button" style="text-align: center">
    <%=  link_to "Ready to Watch?", start_game_household_path(@household), class: 'btn btn-secondary m-3' %>
</div>

  <%= simple_form_for [@household, @userhousehold] do |f| %>
    <%= f.input :user, collection: @user_choices, include_blank: false %>
    <%= f.button :submit, "Add Friend", class: 'btn btn-secondary' %>
 <% end %>

<%=  link_to "Back", households_path, class: 'btn btn-secondary m-3' %>


