<div class="container household-start-game" data-household-id="<%= @household.id %>"  data-current-user-id="<%= current_user.id %>">
  <div class="col md-8 py-4">

    <!--   USER 1 TURN  -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% if @user_playing_household.user == current_user %>
        <h3>IT'S YOUR TURN <%= @user_playing_household.user.name.upcase %>!</h3>
        <h5>Swipe and choose your Danny!</h5>
        <div class="carousel-item py-4 active">
          <%= link_to random_pick_household_path(@household, pick: "evil") do %>
            <%= image_tag("https://res.cloudinary.com/djnfnwxgu/image/upload/v1599685816/deveto/evil_shadow_dcw9sd.png", :alt => "rss feed", :class => "danny d-block w-100") %>
          <% end %>
          <img src="https://res.cloudinary.com/djnfnwxgu/image/upload/v1599642324/deveto/Deveto_Logo_Evil_White_New_hylvpw.svg" alt="Evil DeVeto">
          <h3 style="margin-top: 20px;">With these bad films your house will earn even more points for vetos!</h3>
          <h3><i class="fab fa-imdb" style="color: #F5C519"></i></h3>
          <h5>6.0 and below</h5>
        </div>
        <div class="carousel-item py-4">
          <%= link_to random_pick_household_path(@household, pick: "danny") do %>
            <%= image_tag("https://res.cloudinary.com/djnfnwxgu/image/upload/v1599685816/deveto/danny_shadow_kaywyg.png", :alt => "rss feed", :class => "danny d-block w-100" ) %>
          <% end %>
        <img src="https://res.cloudinary.com/djnfnwxgu/image/upload/v1599210319/deveto/deveto_logo_black_p9rmv4.svg" alt="Evil DeVeto">
          <h3 style="margin-top: 20px;">Great films but you'll all get fewer points!</h3>
          <h3><i class="fab fa-imdb" style="color: #F5C519"></i></h3>
          <h5>7.5 and above</h5>
        </div>
        <div class="carousel-item py-4">
          <%= link_to random_pick_household_path(@household, pick: "krazy") do %>
            <%= image_tag("https://res.cloudinary.com/djnfnwxgu/image/upload/v1599685816/deveto/krazy_shadow_nekmv4.png", :alt => "rss feed", :class => "danny d-block w-100") %>
          <% end %>
          <img src="https://res.cloudinary.com/djnfnwxgu/image/upload/v1599641653/deveto/Deveto_Logo_Krazy_Outline_Dash_u5psxh.svg" alt="Evil DeVeto">
          <h3 style="margin-top: 20px;">Are you feelin' lucky?!?</h3>
          <h5>Absolutely anything! We don't care what the rating is!</h5>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- END USER 1 -->
    <% else %>
    <!-- USER 2 WAITING AREA - HAVE SOME PIZZA! -->
    <div id="waiting-user-2">
      <h3>IT’S <%= @user_playing_household.user.name.upcase %>’S TURN! WAIT HERE...QUICK EAT PIZZA!</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-center text-center">
      <%= image_tag("https://res.cloudinary.com/djnfnwxgu/image/upload/v1599599873/deveto/scifi_gzzn0k.png", :alt => "DannyDeveto", :class => "imagelanding") %>
    </div>
    <div id="playing-user-2" class="d-none">
      <div id="movie-name">
        <h1>Movie Name</h1>
      </div>
    <!-- USER 2 VETOS REMAINING  -->
      <% if @user_veto.vetos_remaining && @user_veto.vetos_remaining > 0  %>
        <p>You have veto powers</p>
        <%= link_to veto_household_path(@household) do %>
        <%= image_tag "veto.png" %>
        <% end %>
      <% else %>
        <p>You have no Veto powers</p>
        <% end %>
      </div>
    <% end %>
    <div class="back_button">
      <%=  link_to "Back", household_path(@household), class: 'btn btn-secondary m-3' %>
    </div>
  </div>
  <div class="col md-4"></div>
</div>


